/* Navbar styling */
.navbar {
    display: flex;
    gap: 10rem; /* Increased gap for more spacing between links */
    padding: 10px 20px;
    background-color: black;
    justify-content: center;
  }
  
  /* Link styling */
  .title {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  /* Hover effect */
  .title:hover {
    color: goldenrod;
  }
  